.navigation {
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-pages {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        
        li {
            padding-right: 30px;
        }
    }

    &-login {
    }
}